body {
  align-content: center;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-orange-lines-cool-light-gradient-background-background-image_69126.jpg');
  font-family: "Papyrus", "Copperplate", fantasy;
  margin: 0;
  src: url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=New+Tegomin&family=Open+Sans:wght@300&display=swap);
}

.float {
    width:200px;
    height:100px;
    background:red;
    float:left;
    margin-top:-100px
}

html {
	align-content: center;
	animation: 50s para infinite linear;
	/* max-height: 600px; */
	background-color: hsla(200,40%,30%,.4);
	background-height: 100%;	
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-repeat: repeat-x;	
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	background-width: 1000px;		
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
	}
h1 {
  align-content: center;	
  font-family: myFirstFont;
  margin-top: 0;
  src: url(https://fonts.google.com/share?selection.family=New%20Tegomin%7COpen%20Sans:wght@300);
}

.top-container {
  background-color: #E4F9F5;
}

title {
  align-content: center;		
  font-family: 'Indie Flower', cursive;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.center {
	text-align: center;
	}	
	
.bottom-container {
  background-color: orange;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;

}

.top-cloud {
  position: absolute;
  right: 300;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}
