body {
  align-content: center;	
  font-family: aCoolFont;  
  margin: 0;
  src: url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=New+Tegomin&family=Open+Sans:wght@300&display=swap);
}
html {
	align-content: center;
	animation: 50s para infinite linear;
  	height: 100%;
	/* max-height: 600px; */
	background-color: hsla(200,40%,30%,.4);
	background-image:		
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-repeat: repeat-x;	
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	width: 1000px;	
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
	}
h1 {
  align-content: center;	
  font-family: myFirstFont;
  margin-top: 0;
  src: url(https://fonts.google.com/share?selection.family=New%20Tegomin%7COpen%20Sans:wght@300);
}

.top-container {
  background-color: #E4F9F5;
}

title {
  align-content: center;		
  font-family: 'Indie Flower', cursive;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: orange;
  height: 200px;
  width: 200px;
}

.pro {
  text-decoration: underline;

}

.top-cloud {
  position: absolute;
  right: 300;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}
